<h1>BUSCADOR DE ESPECIES DE MAMIFEROS</h1>
<div>
<form action="url">
    <h2>Nombre del Mamifero</h2>
    <input type="text" name="nombre" id="">
    <input type="button" value="Buscar">
    <h3>Color del mamifero</h3>
    <input type="text" name="color" id="">
    <input type="button" value="Buscar">
    <h4>Tamano del mamifero</h4>
    <select name="tamano" id="">
        <option value=0>Elige una opcion</option>
        <optgroup>
            <option value=1>Grande</option>
            <option value=2>Mediano</option>
            <option value=3>Pequeno</option>
        </optgroup>
    </select>
    <input type="button" value="Buscar">
    <h4>Tipo de Mamifero</h4>
    <select name="tipo" id="">
        <option value=0>Elige una opcion</option>
        <optgroup>
            <option value=1>Placentario</option>
            <option value=2>Marsupial</option>
            <option value=3>Monotrema</option>
        </optgroup>
    </select>
    <input type="button" value="Buscar">
</form>
</div>
